<div class ="navbar row-space-around">
  <a href="/"><h1 class="wander navbar-text">Wander</h1></a>

    <div class="row">
      <a href="/signup"><h3 class="navbar-text">Sign Up</h3></a>
      <a href="/signin"><h3 class="navbar-text">Sign In</h3></a>
    </div>

</div>
